@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900;&display=swap");

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #343434;
    text-decoration: none;
    font-weight: 500;
}

.navbar{
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navbar::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: none;
    transition: .4s;
}

.navbar a:hover::before{
    width: 100%;
}

