<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            color: #ff4500;
            text-align: left;
            font-size: 150%;
            font-family: "Times New Roman", serif;
        }

        p {
            text-align: left;
            font-family: "Times New Roman", serif;
            font-size: 120%;
            color: #ff4500;
        }
    </style>
</head>
<body>
    <h1>Contact</h1>
    <p>Phone Number: 9867979876 <br>Email: kandelshittal@gmail.com<br>Address:Tarkeshwor-2, Kathmandu</p>
    <p1 style:"color:#008000">LinkedIn:  <a href = "https://www.linkedin.com/in/shital-kandel-a0949b277?lipi=urn%3Ali%3Apage%3Ad_flagship3
        _profile_view_base_contact_details%3BjcXh%2BnpcSgOjpBHOF2oPMQ%3D%3D" target ="_blank">Shital Kandel</a></p1>
</body>
</html>
