
<!DOCTYPE html>
<html>
    <head>
    {% extends "navbar.html" %}

    <meta class="charset">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="with=device-width" initial-size=1.0>
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        
        <div class="Button">
            <h>Let's Get Started</h>
            <Button>Register</Button>
        </div>
        <div class="container">
            {%block main%}{%endblock%}
            </div>
    </body>
    </html>

    

    