*{
    margin:0;
    padding:0;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    width:100%;
    background-image: url(/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}